body { 
  margin: 50px;
  width: 1000px;
  background-image: url('https://mychesterfieldschools.com/ges/wp-content/uploads/sites/44/2019/11/patriot-1.png');
  background-repeat: no-repeat;
  background-position: 25px 25px;  
}
#second-header,
h1 {
  text-align: center;
}
.header-link {
  font-size: 16px;
  margin-left: 15px;
}
#instructions-block {
  width: 450px;
  margin-left: -225px;
  display: none;
  position: absolute;
  left: 50%;
  background: white;
}
div#all-words,
div#unsorted-list,
div#sorted-list,
div.tab-pane {
  box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 15px;
}
#all-words {
  word-wrap: break-word;
}
#all-words span {
  margin: 0 15px 5px 0;
}
#sorted-list h3 a,
#all-words h2 a { 
  float: right;
  margin: 0 15px 0 0;
}
#sorted-list ul,
#unsorted-list ul {
  padding-left: 25px;
}
#sorted-list ul li,
#unsorted-list ul li {
  list-style-type: none;
}
#sorted-list ul li,
#unsorted-list ul li {
  cursor: pointer;
}
#sorted-list ul li,
#unsorted-list ul li {
  margin-bottom: 10px;
}
#sorted-list h3 a:hover,
#all-words h2 a:hover {
  cursor: pointer;
}
#word-form {
  margin: 0 0 25px; 
  display:block;
  padding: 10px;
  border: 1px solid #ccc;
  border: 0 0 1px 0;
}
#results-div {
  display: block;
  font-size: 25px;
  text-align: center;
  padding: 20px;
  border-radius: 5px;  
}
.success {
  background: url('../img/confetti.gif');
}
.incorrect {
  background: url('../img/fire.gif');
}
#word-count {
  margin: 0 0 0 10px;
}
#sorted-list,
#unsorted-list {
  width: 30%;
  border: 1px solid #ccc;
}
.strike {
  text-decoration: line-through;
}
.red { color: red; }
.green { color: green; }

#flipdown {
  width: 245px;pp
}
#flipdown div.rotor-group:nth-child(-n+2) {
  display: none;
}